
.chat-input {
    position: relative;
    overflow: hidden;
    padding: 0 40px;
    flex-shrink: 0;
  }
  
  .chat-input input[type="text"] {
    margin-top: 10px;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }

  
  .message .message-body
  {
  display: flex; 
  justify-content: flex-start; 
  position: relative;
  width: 50%;
  height: 30px;
  padding: 5px;
  background: #00FF00;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  border: rgb(39, 36, 36) solid 1px;
  } 

  

  .message.from-me .username{
    display: none;
  }

  .message .delta{
    color: rgb(155, 184, 159)
  }
  
  .message.from-me {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .message.from-me .message-body {
    background-color: #1a43fc;
    color: rgb(255, 255, 255);
  }
  