.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #524;
  height: 50px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}
.App-layout {
  color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.scorecard-header {
  background-color: #b7bf9d;
  padding: 10px;
  height:50px;
  color: white;
}
.table-header {

  background-color: #2D9120;
  padding: 10px;
  padding-bottom: 15px;
  height:50px;
  color: white;

}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #8283BF;
}

.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover {
  color: #BDBCBC;
}

table.right {
  text-align: right;
  margin-right: 1em;
}
.btn {
  margin: 5px
}

body{
  margin: 7px
}
